* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
  color: #000000;
}

.content__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  height: 50vh;
  padding: 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.7);
}

.section__container {
  width: 100%;
}

.section__title {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
}

/* ###### NAVIGATION ###### */

nav {
  display: flex;
  position: relative;
}

.nav__container {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.nav__items {
  position: relative;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  width: 100px;
  height: 50px;
  box-shadow: inset 0 0 0 #000000;
  transition: 0.3s ease;
}

.nav__links:hover {
  box-shadow: inset 200px 0 0 #000000;
  color: #ffffff;
}

/* ###### FONT FACE ###### */
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins.ttf") format(("ttf"));
  font-display: swap;
}
