* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.section {
  position: relative;
  width: 100%;
  height: auto;
}

.fighter__container {
  position: relative;
  width: 100%;
  height: 100vh;
  min-width: 300px;
}

.fighter__sign {
  margin-left: 60px;
}

.fighter__sign > img {
  width: clamp(100px, 15vw, 300px);
}

.fighter__group {
  position: relative;
  width: 100%;
}

.fighter__group > img {
  width: 100%;
  height: auto;
  background-size: cover;
}

@media (max-width: 767px) {
  .fighter__sign {
    margin-left: 5px;
  }
}
