* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ▼▼ ここから ▼▼ */
/********* RECRUIT *********/
:root {
  /* BACKGROUND_COLOR */
  --main-bg-color: #1c1c1c;

  /* FONT_SIZE */
  --main-font-size: 80px;
  --sub-font-size: 24px;
  --inner-font-size: 16px;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Tsuku";
  src: url("./font/TsukuhouShogoMin-OFL.ttf") format("truetype");
}

@font-face {
  font-family: "Noto_Serif";
  src: url("./font/noto-serif-jp-v33-japanese_latin-700.woff2") format("woff2");
}

main {
  position: relative;
}

.recruit {
  position: relative;
  display: flex;
  max-width: 1366px;
  max-height: 835px;
}

.recruiit__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 262px;
  height: 100%;
}

.recruit__container-item {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 272px;
}

/* .center__title {
  font-size: clamp(1.625rem, 0.4211rem + 10.5263vw, 5rem);
} */

/* @media (min-width: 768px) {
  .recruit {
    max-width: 1366px;
    height: 835px;
  }
} */

/* ▲▲ ここまで ▲▲ */

/*
.btm-img {
  width: 262px;
  height: 227px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  position: absolute;
  bottom: 3.8em;
} */
