* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ▼▼ ここから ▼▼ */
/********* RECRUIT *********/
:root {
  /* BACKGROUND_COLOR */
  --main-bg-color: #1c1c1c;

  /* FONT_SIZE */
  --main-font-size: 80px;
  --sub-font-size: 24px;
  --inner-font-size: 16px;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Tsuku";
  src: url("./font/TsukuhouShogoMin-OFL.ttf") format("truetype");
}

@font-face {
  font-family: "Noto_Serif";
  src: url("./font/noto-serif-jp-v33-japanese_latin-700.woff2") format("woff2");
}

.recruit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1366px;
  height: 835px;
  background-color: var(--main-bg-color);
  z-index: -1;
  position: relative;
  background: url("./images/1.png") no-repeat center center / cover;
}

/********* CENTER CONTAINER *********/

.recruit__center-container {
  width: 100%;
  max-width: 691px;
  height: 473px;
  background: url("./images/center/center.png") no-repeat center center / cover;
  z-index: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.center__top-arr {
  width: 38px;
  height: 32px;
  background: url("./images/center/top_arr.png") no-repeat center center / cover;
  z-index: 1;
  position: absolute;
  top: 25px;
}

.center__btm-arr {
  width: 38px;
  height: 32px;
  background: url("./images/center/btm_arr.png") no-repeat center center / cover;
  position: absolute;
  bottom: 25px;
}

.center__info-container {
  max-width: 328px;
  width: 100%;
  height: auto;
}

.center__info-container p {
  font-family: "Tsuku", serif;
  font-style: normal;
  font-size: var(--main-font-size);
  text-shadow: 3px 3px #ffffff;
}

.center__sub-info {
  font-size: var(--inner-font-size);
  font-family: "Noto_Serif";
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
}

.info__btm-img {
  background: url("./images/center/center_btm.png") no-repeat center center /
    cover;
  width: 100%;
  height: 16px;
}

/********* IMAGES CONTAINER *********/
.recruit__left-container,
.recruit__right-container {
  height: 100%;
  position: relative;
}

/********* 
--------
LEFT IMAGES CONTAINER
--------
*********/

.left__first-container {
  height: 100%;
  position: absolute;
  display: flex;
}

.left__second-container {
  height: 100%;
  position: absolute;
  left: -285px;
  border: 1px solid black;
}

.top-img {
  width: 262px;
  height: 227px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  position: absolute;
  top: 3.8em;
}

.mid-img {
  width: 262px;
  height: 227px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  position: absolute;
  top: 3.8em;
}

.btm-img {
  width: 262px;
  height: 227px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  position: absolute;
  bottom: 3.8em;
}
/* ▲▲ ここまで ▲▲ */
