* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ▼▼ ここから ▼▼ */
/********* RECRUIT *********/
:root {
  /* BACKGROUND_COLOR */
  --main-bg-color: #1c1c1c;

  /* FONT_SIZE */
  --main-font-size: 80px;
  --sub-font-size: 24px;
  --inner-font-size: 16px;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Tsuku";
  src: url("./font/TsukuhouShogoMin-OFL.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Noto_Serif";
  src: url("./font/noto-serif-jp-v33-japanese_latin-700.woff2") format("woff2");
  font-display: swap;
}

main {
  position: relative;
}

.recruit {
  margin: 0 auto; /* Temporary centering */
  position: relative;
  display: flex;
  width: 100%;
  max-width: 360px;
  height: 100vh;
  max-height: 220px;
}

.recruit__container {
  border: 1px solid red;
  position: relative;
}

/* ===== LEFT ===== */

.left {
  flex: 1;
  /* position: absolute;
  left: 0; */
}

/* ===== CENTER ===== */

.center {
  position: relative;
  width: 100%;
  max-width: 183px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.center__bg {
  position: relative;
  width: 100%;
  max-width: 183px;
  height: 100vh;
  max-height: 125px;
  background: url("./images/center/center_bg.png") no-repeat center center;
  background-size: contain;
}

.center__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.center__title {
  font-size: 26px;
  font-family: "Tsuku";
}

.center__sub-title {
  font-size: 10px;
  font-family: "Noto_serif";
  font-weight: bold;
  text-transform: uppercase;
}

.center__title-btm-img {
  background: url("");
}

/* ===== RIGHT ===== */

.right {
  flex: 1;
}

/* .center__title {
  font-size: clamp(1.625rem, 0.4211rem + 10.5263vw, 5rem);
} */

/* @media (min-width: 768px) {
  .recruit {
    max-width: 360px;
    height: 220px;
  }
} */

/* ▲▲ ここまで ▲▲ */

/*
.btm-img {
  width: 262px;
  height: 227px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  position: absolute;
  bottom: 3.8em;
} */
