* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --item-list-color: #acbac4;
  --item-reason-color: #e6e6e6;
}

html,
body {
  height: 100%;
}

body {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
}

header {
  position: relative;
}

.header__title {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 60px;
}

.list__container {
  position: relative;
  width: 100%;
  list-style: none;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

.list__items {
  font-size: 16px;
  gap: 10px;
  margin-bottom: 2rem;
}

.item__list {
  font-size: 20px;
  font-weight: bold;
  background-color: var(--item-list-color);
  display: flex;
  flex-direction: row;
}

.item__list::before {
  content: "";
  width: 30px;
  height: 30px;
  background: url("../../HTML/images/icons/note.png") no-repeat center center /
    cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-right: 10px;
}

.item__reason,
.bem__link {
  background-color: var(--item-reason-color);
  margin-bottom: 14px;
  display: flex;
  flex-direction: row;
}

.item__reason::before {
  content: "";
  width: 25px;
  height: 25px;
  background: url("../../HTML/images/icons/arr.png") no-repeat center center /
    cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-right: 10px;
}

.item__orderlist {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 30px;
  margin-bottom: 1rem;
}

.item__description {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.item__description ul {
  margin-bottom: 1rem;
}

.item__description p {
  margin-bottom: 1rem;
}

.zoom {
  width: clamp(250px, 50vw, 500px);
  cursor: pointer;
  transition: transform 0.5s ease;
  margin-bottom: 1rem;
}

.zoom.zoomed {
  transform: scale(2);
  /* margin: 0 auto; */
  display: flex;
}

.code__italic {
  font-size: 14px;
  color: red;
  margin-right: 20px;
  font-style: italic;
}

.NG {
  display: flex;
  flex-direction: row;
}

.NG::before {
  content: "";
  width: 25px;
  height: 25px;
  background: url("../../HTML/images/icons/close.png") no-repeat center center /
    cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-right: 10px;
}

.OK {
  display: flex;
  flex-direction: row;
}

.OK::before {
  content: "";
  width: 25px;
  height: 25px;
  background: url("../../HTML/images/icons/check.png") no-repeat center center /
    cover;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.code__italic--alt {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: red;
  margin: 0 5px 0 5px;
  font-style: italic;
}

.item__reason--merit {
  background-color: #c7eeff;
}

.bem__link {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bem__link::before {
  content: "";
  background: url("../../HTML/images/icons/bulb.png") no-repeat center center /
    cover;
  width: 20px;
  height: 20px;
  display: flex;
}
