* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
}

header {
  position: relative;
}

.header__title {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 60px;
}

.list__container {
  border: 1px solid red;
  width: 100%;
  list-style: none;
  margin-top: 2em;
}

.list__items {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 2rem;
}

.item__count {
  font-size: 20px;
  font-weight: bold;
}

.item__count::before {
  content: "";
  width: 30px;
  height: 30px;
  background: url("../../HTML/images/icons/note.png") no-repeat center center /
    cover;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.item__reason::before {
  content: "";
  width: 25px;
  height: 25px;
  background: url("../../HTML/images/icons/arr.png") no-repeat center center /
    cover;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.item__orderlist {
  margin-left: 30px;
}

.item__description {
  margin-left: 30px;
}

.item__description p {
  margin-bottom: 1rem;
}

.item__description img {
  width: 600px;
}

.zoom {
  cursor: pointer;
  transition: transform 0.5s ease;
}

.zoom.zoomed {
  transform: scale(2);
  margin: 0 auto;
  display: flex;
}
