* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
}

header {
  position: relative;
}

.header__title {
  border: 1px solid red;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 60px;
}
